@dir: "bs-base/";

@import "@{dir}mixins.less";
@import 'variables.less';

@c-white: #fff;
@c-white-gray: #f1f1f1;
@c-black: #23272b;
@c-deep-gray: #34383d;
@c-gray: #4f575c;
@c-blue: #21a9e1;
@c-container-border: #e7e7e7;
@c-container-header-border: #e1e2e5;

@s-font-size-normal: 14px;
@s-font-size-large: 16px;

@z-index-fixed: 10;
@z-index-page: 8;
@z-index-page-enter: 9;

.unstyled-list() {
    list-style: none;
    padding-left: 0;
}
// inline-block 4px spacing
.remove-inline-block-space() {
    font-size: 0; // 非常神奇，1-11px会强制12px，但0px可以起作用
    -webkit-text-size-adjust: none; // chrome新版已删除该属性
}
// style text------------------------------------
.style-text(@margin-top: 0; @margin-bottom: 0; @color: @text-color; 
    @font-size: @font-size-base; @font-weight: normal) { // always h1-h6
    margin-top: @margin-top;
    margin-bottom: @margin-bottom;

    font-weight: @font-weight;
    font-size: @font-size;
    color: @color;
}
.ellipsis() { // text ellipsis
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

// animations
@keyframes height-grow {
    0% {
        max-height: 0;
    }
    90% {
        max-height: 160px;
    }
    100% {
        max-height: 300px;
    }
}
@keyframes height-decrease {
    0% {
        max-height: 300px;
    }
    10% {
        max-height: 160px;
    }
    100% {
        max-height: 0;
    }
}
@keyframes height-scale {
    0% {
        transform-origin: top;
        transform: scaleY(0);
    }
    100% {
        transform-origin: top;
        transform: scaleY(1);
    }
}
@keyframes height-scale-reverse {
    0% {
        transform-origin: top;
        transform: scaleY(1);
    }
    100% {
        transform-origin: top;
        transform: scaleY(0);
    }
}
@keyframes slide { 
    0% { transform: translate3d(-360px,0,0); opacity:0.3; }
    96% { transform: translate3d(10px,0,0);  }
    100% { transform: translate3d(0,0,0); opacity: 1; }
}



.fixed-to-top {
    position: fixed;
    left: 0;
    top: 0;
    z-index: @z-index-fixed;
}

.cy-topbar {
    display: block;
    width: 100%;
    height: 48px;
    padding: 16px 20px;
    overflow: hidden;

    background-color: @c-white;
    .logo-zone {
        float: left;
        height: 100%;

        color: @title-color;
        .logo {
            float: left;
            height: 100%;
        }
        .title {
            float: left;
            height: 100%;
            margin: 0 0 0 16px;

            line-height: 16px;
            font-weight: normal;
            font-size: @s-font-size-large;
        }
    }
    .info-zone {
        float: right;
        height: 100%;

        color: @text-color;
        .remove-inline-block-space();
        .info {
            display: inline-block;
            padding: 0 6px;

            line-height: 16px;
            font-size: @s-font-size-normal;
            &:not(:last-child) {
                border-right: 1px solid @text-color;
            }
        }
    }
}

.cy-sidebar {
    position: fixed;
    left: 0;
    top: 48px;
    bottom: 0;
    height: 100%;
    width: 240px;

    background-color: @c-black;
    .user-zone {
        display: block;
        width: 100%;
        height: 160px;
        padding: 20px;

        text-align: center;

        background-color: @c-gray;
    }

    .menu-zone {
        position: absolute;
        left: 0;
        right: 0;
        top: 160px;
        bottom: 0;

        background-color: @c-deep-gray;
    }
}

.cy-menu {
    display: block;
    width: 100%;
    .unstyled-list();
    .item {
        display: block;
        width: 100%;

        color: @c-white;

        background-color: @c-deep-gray;
        transition: all 0.1s linear;
        .item-content {
            position: relative;
            padding: 12px 0 12px 60px;

            cursor: pointer;
        }
        .item-indicator {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 12px;
            height: 14px;
            margin: auto;
        }
        .submenu {
            overflow: hidden;
        }
        &.active:not(.has-child) {
            border-right: solid 4px @c-blue;
        }
        &.is-expanded {
            background-color: @c-black;
        }
    }
    .submenu {
        &.ng-hide-remove,
        &.ng-hide-add-active {
            display: block !important;
        }
        &.ng-hide-add-active {
            animation: 'height-decrease' 0.5s linear;
        }
        &.ng-hide-remove {
            animation: 'height-grow' 0.5s linear;
        }
    }
    &.submenu {
        .item {
            background-color: @c-black;
        }
        .item-content {
            padding-left: 84px;
        }
    }
}

.cy-container {
    display: block;
    background-color: @c-white;
    border-bottom: 1px solid @c-container-border;
    .header {
        position: relative;
        padding: 24px 30px 0;
        border-bottom: 1px solid @c-container-header-border;
        &>a {
            display: block;
            width: 100%;
            height: 100%;
        }
        .title {
            .style-text(0, 10px, @brand-info, 20px, normal);
        }
        .subtitle {
            .style-text(0, 12px, @text-color, 14px, normal);
        }
        .action {
            position: absolute;
            right: 12px;
            top: 12px;

            &>a, &>span {
                font-size: 12px;
                color: @brand-warning;
            }
        }
    }
    .content {
        padding: 22px 24px;
        &.no-top-padding {
            padding-top: 0;
        }
    }
}

// ng animation
.slide-top.ng-enter,
.slide-top.ng-leave,
.slide-bottom.ng-enter,
.slide-bottom.ng-leave {
    position: absolute;
    left: 0;
    top: 0; 
    right: 0;
    bottom: 0;
    transition: 2.4s ease-in-out;
}
.slide-top.ng-enter {
    z-index: @z-index-page-enter;
    transform: translateY(110%);
}
.slide-top.ng-enter.ng-enter-active {
    transform: translateY(0);
}
.slide-top.ng-leave {
    z-index: @z-index-page;
    transform: translateY(0);
}
.slide-top.ng-leave.ng-leave-active {
    transform: translateY(-100%);
}
.slide-bottom.ng-enter {
    z-index: @z-index-page;
    transform: translateY(-110%);
}
.slide-bottom.ng-enter.ng-enter-active {
    transform: translateY(0);
}
.slide-bottom.ng-leave {
    z-index: @z-index-page-enter;
    transform: translateY(0);
}
.slide-bottom.ng-leave.ng-leave-active {
    transform: translateY(100%);
}


#main-wrap {
    display: block;
    width: 100%;
    height: 100%;
}
#main-content {
    display: block;
    width: 100%;
    // min-height: 100%;
    height: 100%;
    padding-top: 48px;
    padding-left: 240px;

    .page-wrap {
        width: 100%;
        height: 100%;
        padding: 40px;
    }
    .page {
        position: relative;
        width: 100%;
        min-height: 100%;
    }
    .page-viewer {
        display: block;
        width: 100%;
        min-height: 100%;
    }
}

// handle angular fouc
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}