<cy-container title="{{'ShopList' | translate}}">
    <div cy-table table-params="tableParams" template-pagination="custom/pager" template-operation="custom/operation">
        <div class="cy-table-operation row" search-key="{{'name'}}"></div>
        <table class="table table-striped table-hover table-condensed">
            <tr ng-repeat="shop in $data">
                <td data-title="'ShopID' | translate">
                    {{shop.displayId}}
                </td>
                <td data-title="'ShopName' | translate">
                    {{shop.name}}
                </td>
                <td data-title="'Industry' | translate">
                    {{shop.industry}}
                </td>
                <td data-title="'SuperAgent' | translate">
                    {{shop.parent}}
                </td>
                <td data-title="'APCount' | translate">
                    {{shop.apCount}}
                </td>
                <td data-title="'CreateTime' | translate">
                    {{shop.createTime | date:'yyyy-MM-dd HH:mm:ss'}}
                </td>
                <td data-title="'Operation' | translate">
                    <span class='btn btn-primary' ng-click="go('/' + aid + '/shop/edit/' + shop.id)">{{'Edit' | translate}}</span>
                    <span class='btn btn-primary'>{{'LoginSubShopSystem' | translate}}</span>
                </td>
            </tr>
        </table>
        <div class="cy-table-pagination" displayed-page-count="{{ '5'}}"></div>
    </div>

    <script type="text/ng-template" id="custom/pager">
        <ul class="pager ng-cloak">
            <li ng-repeat="page in pages" ng-class="{'disabled': !page.active, 'previous': page.type === 'prev', 'next': page.type==='next'}">
                <a ng-if="page.type === 'prev'" ng-click="params.page(page.number)" href="">{{"PreviousPage" | translate}}</a>
                <a ng-if="page.type === 'next'" ng-click="params.page(page.number)" href="">{{"NextPage" | translate}}</a>
                <a ng-if="page.type === 'page' || page.type === 'first' || page.type === 'last'" ng-click="params.page(page.number)" href="">{{page.number}}</a>
            </li>
        </ul>
    </script>
    <script type="text/ng-template" id="custom/operation">
        <div class="col-sm-3">
            <p>{{'CountPerPage' | translate}}</p>
        </div>
        <div class="col-sm-9">
            <p>{{'DataSource' | translate}}</p>
        </div>
        <div class="col-sm-3">
            <div class="cy-dropdown page-size-dropdown" dropdown>
                <div class='input-group'>
                    <input type='text' class='left-input form-control' value='{{params.count()}}' />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success right-action" dropdown-toggle>
                            <i class='fa fa-angle-down'></i>
                        </button>
                    </span>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-class="{'active':params.count() == 5}" ng-click="params.count(5)">5</a>
                    </li>
                    <li><a ng-class="{'active':params.count() == 10}" ng-click="params.count(10)">10</a>
                    </li>
                    <li><a ng-class="{'active':params.count() == 20}" ng-click="params.count(20)">20</a>
                    </li>
                    <li><a ng-class="{'active':params.count() == 50}" ng-click="params.count(50)">50</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="cy-dropdown" dropdown>
                <div class='input-group'>
                    <input type='text' class='left-input form-control' placeholder="{{'DataSource' | translate}}" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success right-action" dropdown-toggle>
                            <i class='fa fa-angle-down'></i>
                        </button>
                    </span>
                </div>
                <div class="dropdown-menu" role="menu">
                    <div class="cy-tree" ng-click="$event.stopPropagation()" cy-tree="true" tree-id="tree01" tree-model="params.sourceList" ng-init="treeSelectedList=params.selectedSourceList()" node-id="id" node-label="name" node-children="list" debug-mode='true'></div>
                    <div class="text-center">
                        <span class='btn btn-success' ng-click="params.reload();">{{"Confirm" | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-4">
            <div class='cy-table-search input-group pull-right'>
                <input type='text' class='left-input form-control' placeholder='{{"Search" | translate}}' ng-model="searchValue" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success right-action" ng-click="params.search(searchValue)">
                        <i class='fa fa-search'></i>
                    </button>
                </span>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="custom/tree">
        <ul>
            <li ng-repeat="node in params.sourceList">
                <i class="collapsed fa fa-plus-square-o" ng-show="node.list.length && node.collapsed"></i>
                <i class="expanded fa fa-minus-square-o" ng-show="node.list.length && !node.collapsed"></i>
                <i class="fa fa-square-o"></i>
                <span ng-class="node.selected">{{node.name}}</span>
                <div ng-hide="node.collapsed" tree-model="node.list"></div>
            </li>
        </ul>
    </script>

</cy-container>